body{
    background-color: #800080
  }
  
  .logo{
    width: 96px;
    color: white
  }
  
  
  .gridBox{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto auto auto;
  }
  .navbar{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1{
    color: white;
    text-align: center
  }
  .image1{
    /*   width: 400px */
         height:300px;
      width:100%;
      overflow:hidden;
      direction: ltr;
    }
  
  .image1:hover{
      opacity: 0.6;
  }

  @media only screen and (max-width: 600px) {
    .gridBox{
      display: grid;
      grid-template-rows: 100px auto auto auto;
        grid-template-columns: auto;
    }
    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto
    }
 
  }
  
  @media only screen and (min-width: 600px) {
    .gridBox{
      display: grid;
      grid-template-rows: 100px 250px 250px 250px;
        grid-template-columns: auto;
    }
    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto
    }

  }
  @media only screen and (min-width: 768px) {
    
  .gridBox{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto auto auto;
  }
    .navbar{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  }