.gridBox{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 320px 320px 320px;
    grid-gap: 10px;
    margin: 20px 50px 200px 200px ;
}

img{
    width: 115px;
    height: 175px;
}
.custom-select{
    width: 200px;
    margin: 100px 50px 10px 50px;
}

.flex-box{
    display: flex;
}

.form{
    margin: 20px 20px 20px 100px;
}